1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
body {
    background: #21252b;
    color: #333;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    maring: 0;
}
 
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 16px;
    outline: none;
}
 
input, button {
    border: 0;
    padding: 10px;
}
 
.mainDiv {
    background: #fff;
    padding: 20px;
    width: 450px;
    margin: 0px auto;
    margin-top: 200px;
    box-shadow: 0 0 20px #333;
}
 
h1 {
    font-weight: 300;
    font-size: 24px;
}
 
textarea {
    border: 0px;
    background: #fff;
    padding: 20px 0px;
    outline: none;
    width: 100%;
    resize: none;
}
 
button {
    background: #528bff;
    color: #fff;
    position: relative;
    top: 50px;
    width: 64px;
    height: 64px;
    line-height: 38px;
    border-radius: 100%;
}